# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Logs
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Editors
*.swo
*.swp
*~
.~lock.*#
.idea/
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual environments
.venv/
.eggs/

# FOCUS database (too large for git)
focus_app/db/
kmer_counting_*
kmer_dump_*

# Temporary
temp/
